* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(../images/donation5.jpg);
    /* background-image: linear-gradient(rgba(18, 18, 18, 0.5), #121212f5), url(../images/donation5.jpg); */
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.banner-container {
    text-align: center;
    padding-top: 20%;
}

.banner-container h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 15px
}

.banner-container p {
    color: #f5f5f5f3;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 35px;
}

.donate-link-btn {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
}

.donation-money-calculate {
    text-align: center;
    margin-bottom: 100px;
}

.donation-money-calculate h1 {
    font-size: 40px;
}

.donation-money-calculate p {
    font-size: 18px;
    margin-bottom: 60px;
}

.money {
    width: 125px;
    height: 100px;
    background-color: #dfdcdc46;
    padding-top: 35px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 5px;
}

.all-amount {
    display: flex;
    margin-bottom: 90px;
    margin-left: 25%;
}

#highlight-money {
    border: 1px solid #FF5959;
    color: #FF5959;
    background-color: #ff595925;
}

.other-amount-donate input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: #8080808f;
    width: 50%;
    margin-bottom: 35px;
    padding-left: 300px;
    padding-bottom: 15px;
}

.donate-plan-area {
    text-align: center;
}

.donate-plan-area h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.donate-plan-area p {
    font-size: 18px;
    margin-bottom: 60px;
}

.donate-plan-container {
    display: flex;
    margin-left: 80px;
}

.donate-plan-width {
    width: 30%;
    margin-left: 5%;
}

.donate-container {
    margin-bottom: 100px;
}

.food-family {
    width: 350px;
    height: 330px;
    background-color: #edf5f6;
    padding-left: 20px;
    padding-right: 20px;
}

.Shelter-family {
    width: 350px;
    height: 330px;
    background-color: #ffeeee;
    padding-left: 20px;
    padding-right: 20px;
}

.Education-child {
    width: 350px;
    height: 330px;
    background-color: #fff4d6;
    padding-left: 20px;
    padding-right: 20px;
}

.food-family,
.Shelter-family,
.Education-child,
img {
    padding-top: 40px;
}

.food-family,
.Shelter-family,
.Education-child,
h2,
p {
    padding-top: 20px;
}

.donation-story {
    text-align: center;
}

.donation-story h1 {
    font-size: 40px;
}

.donation-story p {
    width: 50%;
    margin-left: 26%;
    font-size: 18px;
    margin-bottom: 40px;
}

.donation-story {
    margin-bottom: 80px;
}

.card {
    width: 100%;
    height: 400px;
    display: flex;
}

.donation-story-card {
    width: 23%;
    height: 380px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: #f8f8ffe1;
    border-radius: 10px;
}

.donation-story-card img {
    width: 300px;
}

.email-subscribe {
    margin-bottom: 100px;
}

.get-update {
    text-align: center;
    margin-bottom: 60px;
}

.get-update h1 {
    font-size: 40px;
}

.get-update p {
    font-size: 20px;
}

.subscribe-area {
    width: 800px;
    height: 180px;
    margin-left: 350px;
    background-color: #fff4d6;
    text-align: center;
    padding-top: 60px;
    border-radius: 10px;
}

.subscribe-area input {
    background-color: #D9D9D9;
    padding: 12px 15px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    padding-left: 15px;
}

.subscribe-area button {
    background-color: #ff5959;
    padding: 10px 15px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.footer-humble {
    width: 100%;
    height: 160px;
    background-color: #0B0D17;
    text-align: center;
    padding-top: 40px;
}

.footer-humble h1 {
    color: #FF5959;
    font-family: 'Lobster';
    margin-bottom: 20px;
}

.footer-humble h4 {
    color: white;
}